# Redis Configuration (BullMQ)
REDIS_URL=redis://127.0.0.1:6379

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
RESEND_API_KEY=xyz